<div class="headertabs">
  <div>
    <button mat-raised-button color="primary" (click)="displayAllRecord()">
      Display All record
    </button>
  </div>

  <div>
    <form class="formfield" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Phone no.</mat-label>
        <input matInput type="number" class="input" formControlName="record" />
      </mat-form-field>
      <button
        mat-raised-button
        color="grey"
        style="margin-left: 50%; margin-top: 1px; size: 5%"
      >
        Search
      </button>
    </form>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="addNewRecord()">
      Add New Record
    </button>
  </div>
  <ng-container *ngIf="this.testservice.notiCount != 0">
    <p>
      Badge
      <mat-icon matBadge="{{ this.testservice.notiCount }}" matBadgeColor="warn"
        >home</mat-icon
      >
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
  </ng-container>
</div>
<hr />

<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
